.multimedia-body {
	background-color: #fff;
}

.main-containter {
  padding:20px;
}

.menu-options {
  text-transform: uppercase;
	font-size: small;
}

.head-title, .header-content{
	text-align: center;
  font-size: x-large;
  font-family: monospace;
  text-transform: uppercase;
  height: 30px;
  color: #fff;
  background-color: #1c707f;
  margin-bottom: 5%;
}

.profile-picture {
	width: 100%;
  height: 192px;
  background-image: url(../asset/logoAsamBasa.JPG);
  background-size: 151%;
  background-repeat: no-repeat;
  border-radius: 100%;
}

}

.biodata {
	background-color: white;
	margin-top: 2%;
	height: 100px;
}

.bg-white {
	background-color: white;
}

.ml8 {margin-left: 8px;}
.ml10 {margin-left: 10px !important;}
.ml55{margin-left: 55px;}
.ml68 {margin-left: 68px;}
.mb10{margin-bottom: 10px;}
.p0{padding:0px;}
.pr0{padding-right:0px;}

.panel-default > .panel-heading {
  background-color: #cbd0ff;
  border-radius: 0;
  border: none;
  padding: 0;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-title a {
  display: block;
  padding: 10px;
  position: relative;
  font-size: 14px;
}

.panel-body {
  background: #fff;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel-default .panel-heading a:before {
  content: '\003e';
  font-size: 26px;
  position: absolute;
  right: 15px;
  top: 5px;
  transform: rotate(0);
  transition: all 0.5s;
}

.panel-open .panel-heading a:before {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.border-right-black-2 {
  border-right: 2px solid black; 
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.accordion-toggle {
  background-color: #337ab7 !important;
  color: #fff !important;
}